@import url('https://fonts.googleapis.com/css?family=Fira+Sans');
@import url('https://fonts.googleapis.com/css?family=Source+Sans');

p, div {
  font-family: 'Source Sans', sans-serif;
}

h1, h2, h3, li.book-part {
  font-family: 'Fira Sans', sans-serif;
  font-weight: bold;
}

p.caption {
  color: #777;
  margin-top: 10px;
}
p code {
  white-space: inherit;
}
pre {
  word-break: normal;
  word-wrap: normal;
}
pre code {
  white-space: inherit;
}
